:root {
  --purpel: #A437DB;
  --purpel_light: #BB84E8;
  --head_font: 'Chewy', cursive;
  --body_font: 'Cairo';
  --white_bg: #f6f6f6;
  --head_bg: #e1e1e1;
  --white_t: #f6f6f6d4;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--body_font);
}

a {
  text-decoration: none;
}

body {
  position: relative;
}

/* Navbar */

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  /* background: var(--white_bg); */
  background: transparent;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 100;
  width: 100%;
}

.cnavContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  /* background: var(--white_bg); */
  background: var(--white_bg);
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  position: fixed;
  z-index: 100;
  width: 100%;
}


/* .navIcon{
  width: 10%;
  margin: 20px 60px 0px 60px;
} */

.navMenu {
  width: 100%;
}

.navMenu {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  margin: 5px 60px;
}

.navMenu a {
  font-family: var(--head_font);
  text-decoration: none;
  /* color: var(--purpel_light); */
  color: white;
  margin: 0px 10px;
  font-size: large;
}

.cnavContainer a {
  font-family: var(--head_font);
  text-decoration: none;
  /* color: var(--purpel_light); */
  color: var(--purpel);
  margin: 0px 10px;
  font-size: large;
}

.logoImg {
  margin: 0px 160px !important;
}

.logoImg img {
  height: 85px;
}

.clogoImg {
  margin: 0px 130px !important;
}

.clogoImg img {
  height: 60px;
}

.navMenu a:hover {
  color: var(--purpel_light);
}



/* main Slider */

.default-nav {
  margin: 30px;
  background: none;
}

.each-slide-effect>div {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
  background-size: cover;
  height: 95vh;
  /* opacity: .5; */
}

.sliderDiv {
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
}

.slideInfo {
  position: absolute;
  background: var(--white_t);
  padding: 15px;
}

.slideInfo p {
  padding: 20px;
  font-size: 20px;
  color: black;
  text-align: center;
}

.slideInfo a {
  text-decoration: none;
  color: var(--white_bg);
  background: var(--purpel);
  padding: 10px 15px;
  font-family: var(--head_font);
  display: block;
  margin: auto;
  text-align: center;
  width: 120px;
}

.slideInfo a:hover {
  background: var(--white_bg);
  color: var(--purpel_light);
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
}


/* Home page */

/* Categories */

.Categories {
  background: var(--white_bg);
}

/* pop container */

.popContainer {
  padding: 60px 12px;
  margin: 10px 100px;
}

.popHead {
  text-align: center;
}

.popHead span {
  display: block;
  margin: auto;
  height: 2px;
  background: var(--head_bg);
  width: 120px;
}

.popHead em {
  display: block;
  margin: auto;
  background: var(--purpel);
  width: 60px;
  height: 2px;
}

.popHead h2 {
  font-family: var(--head_font);
  font-size: 34px;
  margin-top: 20px;
  color: var(--purpel);
}

.popHead p {
  font-family: var(--body_font);
  font-size: 20px;
  margin-bottom: 15px;
}

/* popular card */
.popCardCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.popCard {

  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  height: 350px;
  width: 255px;
  text-align: center;
  position: relative;
}

.cardInfo:hover {
  height: 350px;
  width: 255px;
  background-color: rgba(0, 0, 0, 0.456);
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
}

.cardInfo {
  position: absolute;
  top: 0%;
  text-align: center;
  height: 350px;
  width: 255px;
}

.cardInfo p {
  font-family: var(--head_font);
  font-size: x-large;
  color: var(--white_bg);
  background-color: var(--purpel);
  padding: 10px;
  margin: 150px 35px;
}

.viewAll {
  text-align: center;
  margin: 30px;
  padding-bottom: 50px;
}

.viewAll a {
  text-decoration: none;
  color: var(--white_bg);
  background: var(--purpel);
  padding: 15px 30px;
  margin: 10px;
  font-family: var(--head_font);
  font-size: x-large;
}

.viewAll a:hover {
  background: var(--white_bg);
  color: var(--purpel_light);
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
}

/* all Categories */

.allCat {
  padding: 60px 12px;
  margin: 10px 100px;
}

.allCat a {
  text-decoration: none;
  color: var(--purpel);
}

.allCatCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  background: var(--white_bg);
}

.allCatElement img {
  border: none;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  transition: transform .5s ease-in;
}

.allCatElement img:hover {
  transform: scale(1.1);
}

.allCatElement p {
  font-family: var(--head_font);
  font-size: large;
  text-align: center;
}

/* About Home */
.About {
  background-size: 200px 100px;
  padding: 15px 100px;
}

.homeAbout {
  background: var(--white_t);
  padding: 10px 20px;
  margin: 15px 100px;
}

.homeAbout p {
  margin-bottom: 20px;
  font-family: var(--body_font);
}

/* Recipes */

.poprecipies {
  padding: 60px 12px;
  margin: 10px 100px;
}

.recipesCard {
  height: 200px;
  width: 350px;
  transition: transform .5s;
}

.recipesCard:hover {
  transform: scale(1.01);
}

.recipeInfo {
  height: 200px;
  width: 350px;
  transition: transform .5s;
}

.recipeInfo:hover {
  background-color: rgba(0, 0, 0, 0.456);
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
  transform: scale(1.01);
}

.recipeInfo h6 {
  background-color: var(--purpel);
  font: 20px var(--head_font);
  color: var(--white_bg);
  padding: 5px;
}

.owl-item {
  width: 360px !important;
}

/* latest recipes */
.latestRes {
  padding: 60px 12px;
  margin: 10px 100px;
}

.latestList {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: row wrap;
}

.latestInfo {
  display: flex;
  margin-right: 10px;
  width: 49%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.5);
}

.latestInfo:hover {
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
}

.latestInfo img {
  margin: 10px;
  height: 200px;
  width: 200px;
}

.latestIditals {
  padding: 5px;
}

.latestInfo h4 {
  font-family: var(--head_font);
  color: var(--purpel);
  font-size: x-large;
  font-weight: normal;
}

.latestInfo a:hover,
.latestInfo h4:hover {
  color: var(--purpel_light);
}

.latestInfo a {
  font-family: var(--head_font);
  color: var(--purpel);
}

.Submit {
  background-size: 200px 100px;
  padding: 15px 100px;
}

.homeSubmit {
  background: var(--white_t);
  padding: 10px 20px;
  margin: 15px 100px;
}

.homeSubmit p {
  margin-bottom: 20px;
  font-family: var(--body_font);
}


/* Footer */
.footerMain {
  display: flex;
  justify-content: space-around;
  border-top: 1px solid rgba(0, 0, 0, 0.5);
  /* margin-top: 20px; */
  background: var(--white_bg);
  padding: 60px 10px 10px;
}

.footerMain h4 {
  color: var(--purpel);
  font-family: var(--head_font);
  font-size: larger;
  font-weight: normal;
}

.footerMain h4:hover {
  color: var(--purpel_light);
}

.ighLogo img {
  height: 200px;
  width: 200px;
}

.footerLinks a {
  display: block;
  color: black;
  font-family: var(--body_font);
  font-weight: bold;
}

.footerLinks a:hover {
  color: var(--purpel_light);
}

.ighSocial {
  text-align: center;
  background: var(--white_bg);
  padding: 0px 10px;
}

.ighSocial a {
  color: var(--purpel);
  font-size: x-large;
  /* padding: 5px; */
  margin: 15px;
}

.ccSection {
  text-align: center;
  background: var(--purpel);
  color: var(--white_bg);
}

/* Recipes */

.Banner {
  text-align: center;
  height: 40vh;
}

.bannerDiv {
  position: relative;
  height: 100%;
  width: 100%;
  background: black;
  opacity: 0.5;
  padding: 100px;
}

.bannerInfo {
  position: absolute;
  background: var(--white_t);
  padding: 10px 20px;
  top: 15vh;
  left: 14vw;
  width: 72vw;
}

.Banner h1 {
  font-family: var(--head_font);
  color: var(--purpel);
  font-size: xx-large;
  font-weight: normal;
}

.path a {
  color: black;
}

.path a:hover {
  text-decoration: underline;
  color: var(--purpel);
}

.recCont {
  padding: 60px 12px;
  margin: 10px 100px;
}

.recList {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  text-align: center;
}

.recInfo {
  margin-top: 10px;
  width: 24%;
}

.recInfo:hover {
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
}

.recInfo img {
  height: 300px;
  width: 300px;
}

.recInfo h2 {
  word-wrap: normal;
}

/* recipe description */
.recipeDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 60px 12px;
  margin: 10px 100px;
}

.recipeBody {
  width: 60%;
}

.recipeBody h2 {
  font-family: var(--head_font);
  font-weight: normal;
  color: var(--purpel);
  font-size: xx-large;
}

.recipeBody p {
  font: large var(--body_font);
}

.recipeBody img {
  width: 95%;
}

.relatedres {
  width: 38%;
}

.stepBody {
  margin: 20px 10px;
}

.stepBody h3 {
  color: var(--purpel);
  font-family: var(--head_font);
  font-weight: normal;
}

.mainInfo {
  background: var(--purpel);
  text-align: center;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
}

.mainInfo h2 {
  color: var(--white_bg);
  text-decoration: underline;
}

.mainInfo img {
  border: 3px solid var(--purpel_light);
  padding: 3px;
  margin-top: 10px;
  border-radius: 50%;
  height: 183px;
  width: 183px;
}

.mainInfo ul {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style-type: none;
}

.mainInfo li {
  /* padding: 0px 5px; */
  color: var(--white_bg);
}

.mainInfo li span {
  color: var(--white_t);
}

.mainIn {
  background: var(--white_bg);
  border: 4px solid var(--purpel);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  padding: 10px;
}

.mainIn div {
  margin: 20px 0px;
}

.mainIn h3 {
  font-family: var(--head_font);
  color: var(--purpel);
  font-weight: normal;
  font-size: x-large;
}

.mainIn ul {
  list-style-type: none;
}

.mainIn input {
  margin: 0px 5px;
}

.ingredients li {
  text-decoration: line-through;
}

.instructions ol {
  padding: 0px 15px;
}

.tag ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.tag li a {
  padding: 5px 10px;
  margin: 5px;
  color: var(--white_bg);
  background: var(--purpel);
}

.tag li a:hover {
  background: var(--purpel_light);
}

.relatedCont {
  margin: 15px 10px;
}
.related{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px;
}

.rRecipe{
  margin: 5px;
  width: 30%;
  text-align: center;
}
.rRecipe:hover{
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
}
.rRecipe img{
  height: 190px;
  width: 190px;
}
.lComment {
  padding: 10px;
  margin: 10px 0px;
  background: var(--white_bg);
  border: 4px solid var(--purpel);
  border-radius: 25px;
}

.relatedCont h3, .lComment h3, .vComment h3 {
  font-family: var(--head_font);
  color: var(--purpel);
  font-weight: normal;
  font-size: x-large;
}

.form-control {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.form-control label {
  padding: 5px 0px;
  font-family: var(--head_font);
  color: var(--purpel);
  font-size: larger;
}

.form-control input {
  color: var(--purpel);
  border-bottom-color: var(--purpel_light);
  font-size: 1.3rem;
  font-weight: 400;
  letter-spacing: .009375em;
  text-decoration: inherit;
  text-transform: inherit;
  align-self: flex-end;
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 6px;;
  transition: opacity 150ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid;
  border-radius: 4px;
  background: rgb(245, 245, 245);
  height: 56px;
}

.form-control input:hover, .form-control textarea:hover {
  border-bottom-color: var(--purpel);
  background: #ececec;
}

.form-control input:focus, .form-control textarea:focus {
  border-color: var(--purpel_light);
}
.form-control textarea{
  color: var(--purpel);
  border-bottom-color: var(--purpel_light);
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: .009375em;
  text-decoration: inherit;
  text-transform: inherit;
  box-sizing: border-box;
  padding: 20px 16px 6px;
  border: 1px solid;
  border-radius: 4px;
  background: rgb(245, 245, 245);
  height: 200px;
  resize: none;
}
.lComment button{
  color: var(--white_bg);
  background: var(--purpel);
  padding: 10px 20px;
  margin: 10px 0px;
  font-family: var(--head_font);
  font-size: x-large;
  border: none;
  cursor: pointer;
}
.lComment button:hover{
  background: var(--white_bg);
  color: var(--purpel_light);
  box-shadow: 0 1px 3px 2px rgba(0, 0, 0, 0.5);
}

.vComment{
  padding: 10px;
  margin: 10px 0px;
}
.vComment h3{
  border-bottom: 2px solid var(--purpel);
}

.mainComment {
  border-bottom: 2px solid var(--purpel);
  background: var(--white_bg);
  padding: 10px;
}
.mainComment h4{
  font-family: var(--head_font);
  color: var(--purpel);
  font-weight: normal;
  font-size: large;
}
.mainComment h5{
  font-family: var(--head_font);
  color: var(--purpel_light);
  font-weight: normal;
}
.mainComment button{
  background: none;
  color: var(--purpel);
  border: none;
  font-size: large;
  font-weight: bold;
  cursor: pointer;
}
.mainComment button:hover{
  color: var(--purpel_light);
}
.rComment{
  margin: 15px;
  margin-left: 45px;
  padding: 5px;
  border-left: 2px solid var(--purpel);
}

.rCommentv{
  display: none;
}
.rCommentf{
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 100px;
  top: 0;
  left: 0;
  z-index: 110;
  background: rgba(0, 0, 0, 0.63);
}
.rCommentf .lComment{
  width: 45%;
  margin: auto;
}
.rCommentf .lComment .form-control{
  width: 100%;
}
.rCommentf .lComment .closeR{
  float: right;
  top: 0;
}

.loginF{
  width: 40%;
  margin: auto;
}
.loginF h3{
  text-align: center;
}
.loginF .form-control{
  width: 100%;
}
.logBtn{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.logBtn a{
  font-family: var(--head_font);
  color: var(--purpel);
}
.logBtn a:hover{
  color: var(--purpel_light);
  text-decoration: underline;
}