/* #A437DB */

:root {
  --purpel: #A437DB;
  --purpel_light: #BB84E8;
  --head_font: 'Chewy', cursive;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.navContainer{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: black;
}

.navIcon{
  width: 10%;
  margin: 10px 60px;
}

.navIcon img{
  height: 45px;
}

.navMenu{
  width: 20%;
  margin: 10px 60px;
}
.navMenu ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}
.navMenu a{
  font-family: var(--head_font);
  text-decoration: none;
  color: var(--purpel_light);
}
.navMenu a:hover{
  color: var(--purpel);
}